<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toxicant123.dao.UserDao">

    <select id="getUserNameLength" resultType="java.lang.Long">
        select length(name) from user where id = #{id}
    </select>

    <select id="queryUserList" resultType="com.toxicant123.vo.UserVO">
        select * from user where gender > #{param.minGender}
    </select>

</mapper>
